@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --primary-font: "Manrope", sans-serif;
  --body-bg: hsl(218, 23%, 16%);
  --card-bg: hsl(217, 19%, 24%);
  --card-quote: hsl(193, 38%, 86%);
  --head-color: hsl(150, 100%, 66%);
  --btn-bg: hsl(150, 100%, 66%);
  --border-radius: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  background-color: hsl(218, 23%, 16%);
  min-height: 100vh;
  display: flex;
}

h1 {
  font-weight: 800;
}

blockquote {
  font-size: 28px;
}

.main {
  margin: auto;
  max-width: 450px;
  width: 90%;
}

.card {
  position: relative;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 2em 2em 3.5em 2em;
}

.card-head {
  color: var(--head-color);
}

.card-quote {
  text-align: center;
  color: var(--card-quote);
}

.card-desktop-img {
  display: none;
}

.dice-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -9%;
  background-color: var(--btn-bg);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-btn:active {
  transform: scale(0.92);
}

@media (min-width: 1280px) {
  .card-mobile-img {
    display: none;
  }

  .card-desktop-img {
    display: block;
  }
}
